body {
font-family: Arial, sans-serif;}
nav{
	width: 100%;
	height: 60px;
	background: #344051;
}
.logo{
	color: #fff;
	font-size: 30px;
	line-height: 60px;
	padding-left: 388px;
	float: left;
}
.menu {
	float: left;
	padding-left: 432px;
}

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;
}

.main {
	width: 100% ;
	height: calc(100% - 60px) ;
	background: url(../img/boy.png) 90% 100%/auto 85% no-repeat ,url(../img/bg.jpg) center/cover no-repeat;
}

.forza {
	float: left;
	margin: 432px 0px 0px 404px;
	color: #2c384a;
	text-align: center;
}
.forza h1 {
	font-size: 60px;
	font-weight: bold;

}
.forza h4 {
	margin-top: 38px;
	font-size: 22px;
	color: #78918d;
	font-weight: bold;
}
.forza input {
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color:#6d7682 ;
	font-size: 13px;
	padding: 0px 16px;
	margin-top: 58px;
	margin: 58px 28px 0px 14px;
}



.main2 {
    text-align: center;
	margin: 10px 20px 50px 0%;
	}


.main2 h3{
	text-align: center;
	margin-top: 200px;
	font-weight: bold;
	margin-bottom: 0px;
	}


.lorem_about input{

    height: 45px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color:#6d7682 ;
	font-size: 13px;
	padding: 10px 16px;
	margin-top: 100px;
	margin: 100px 5px 10px 15px;
	}	

.pick {
	text-align: center;
	width: 90%;
	height: 60px;
	margin: 10px 10px 25px 90px;
}

.main3 h3 {
	text-align: center;
	margin-top: 200px;
	font-weight: bold;
	margin-bottom: 80px;

}


.main31 h4{
	text-align: left;
	font-weight: bold;
	margin: 100px 5px 5px 100px;
	
}

.pickch {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 20px;
	float: right;
	position: relative;
	left: -1000px;
	bottom: 100px;
}

.main32 h4{
    text-align: left;
	font-weight: bold;
	margin: 0px 5px 5px 100px;
}

.main32 {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 20px;
	float: right;
	position: relative;
	left:-1000px;
	bottom: 100px;
}

.main33 h3{
    text-align: right;
	font-weight: bold;
	margin: -100px 300px 5px 80px;
}
.main33 {
	
	text-align: left;
	margin-top: 110px;
	margin-bottom: 20px;
	float: right;
	position: relative;
	left:-10px;
	bottom: 100px;
}

.main34 h3{
    text-align: right;
	font-weight: bold;
	margin: -100px 450px 5px 80px;
}


.main34 {
	
	text-align: left;
	margin-top: 110px;
	margin-bottom: 10px;
	float: right;
	position: relative;
	left: 965px;
	bottom: 100px;
}

.main4 {
	
	margin-top: 70px;
	font-weight: bold;
	margin-bottom: 20px;
	float: right;
}

.main4 h3 {
   text-align: right;
	font-weight: bold;
	margin: 100px 450px 5px 0px;
}


.main5 {
	text-align: left;
	margin-top: 110px;
	margin-bottom: 10px;
	float: right;
	position: relative;
	left: 965px;
	bottom: -100px;
}

.main6 {
	text-align: bottom;
	margin-top: 110px;
	margin-bottom: 10px;
	float: right;
	position: relative;
	left: 965px;
	bottom: 100px;
}

.main7 {
  
	margin-top: 11px;
	margin-bottom: 10px;
	float: right;
	position: relative;
	left: -475px;
	bottom: 100px;

}